.event .evt_sub .style2 {float:left; margin-right:10px}
.event .evt_sub .style2 strong{display: inline-block; width: 51px;}
.event .evt_sub .style2 span{border-right:1px solid #ccc;padding-right:7px;margin-right:7px}