<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="tagLib" name="Kb Custom Tag Lib" schema="schema/tagLib.exsd"/>
   <extension-point id="KbIncludeContext" name="Kb Include Context Buillder" schema="schema/include.exsd" />
   <extension-point id="validator" name="KB Validator" schema="schema/validator.exsd"/>
 
   <extension
         id="kbbuilder"
         name="KB Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="false">
         <run
               class="org.jboss.tools.jst.web.kb.internal.KbBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="kbnature"
         name="KB Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.jboss.tools.jst.web.kb.internal.KbProject">
         </run>
      </runtime>
      <builder
            id="org.jboss.tools.jst.web.kb.kbbuilder">
      </builder>
   </extension>
   <extension
         point="org.jboss.tools.jst.web.kb.tagLib">
      <tag-lib
            location="taglibs/Ajax4jsf.xml"
            name="JBoss Ajax4jsf"
            uri="http://richfaces.org/a4j"/>
      <tag-lib
            location="taglibs/Richfaces.xml"
            name="JBoss RichFaces"
            uri="http://richfaces.org/rich"/>
      <tag-lib
            location="taglibs/JsfCore.xml"
            name="JSF Core"
            uri="http://java.sun.com/jsf/core"/>
      <tag-lib
            location="taglibs/JsfHtmlBasic.xml"
            name="JSF HTML Basic"
            uri="http://java.sun.com/jsf/html"/>
      <tag-lib
            location="taglibs/Facelets.xml"
            name="Facelets UI"
            uri="http://java.sun.com/jsf/facelets"/>
      <tag-lib
            location="taglibs/FaceletsHtml.xml"
            name="Facelets Html"
            uri="http://www.w3.org/1999/xhtml/facelets"/>
      <tag-lib
            location="taglibs/JBossSeam.xml"
            name="JBoss Seam"
            uri="http://jboss.com/products/seam/taglib"/>
      <tag-lib
            location="taglibs/Jsp.xml"
            name="JSP"
            uri="http://java.sun.com/JSP/Page"/>
      <tag-lib
            name="Struts HTML"
            location="taglibs/StrutsHtml.xml"
            uri="http://struts.apache.org/tags-html"/>
      <component-extension
            location="taglibs/componentExtension.xml"/>
   </extension>
   
   <extension point="org.jboss.tools.jst.web.kb.KbIncludeContext">
	<include uri="jsp">
		<tag name="directive.include">
        	<attribute name="file" />
		</tag>
		<tag name="include">
        	<attribute name="page" />
		</tag>
	</include>

	<contexttype id="JSP_PAGE_CONTEXT_TYPE">
		<contenttype id="org.eclipse.jst.jsp.core.jspsource" />
        <contenttype id="org.eclipse.jst.jsp.core.jspfragmentsource"/>
        <contenttype id="org.eclipse.jst.jsp.core.tagsource"/>
	</contexttype>

	<contexttype id="FACELETS_PAGE_CONTEXT_TYPE">
		<contenttype id="org.eclipse.wst.html.core.htmlsource" />
	</contexttype>

	<contexttype id="XML_PAGE_CONTEXT_TYPE">
		<contenttype id="org.eclipse.wst.xml.core.xmlsource" />
		<contenttype id="org.eclipse.jst.jsf.facesconfig.facesConfigFile" />
		<contenttype id="org.eclipse.core.runtime.xml" />
    	<contenttype id="org.eclipse.jst.j2ee.webDD" />
    	<contenttype id="org.eclipse.jst.jee.ee5webDD" />
		<contenttype id="org.jboss.tools.common.model.ui.xml" />
		<contenttype id="org.eclipse.jst.jsp.core.tldsource" />
		<contenttype id="org.jboss.tools.seam.xml.ui.pages12xmlsource" />
		<contenttype id="org.jboss.tools.seam.xml.ui.page12xmlsource" />
		<contenttype id="org.jboss.tools.seam.xml.ui.pages20xmlsource" />
		<contenttype id="org.jboss.tools.seam.xml.ui.page20xmlsource" />
		<contenttype id="org.jboss.tools.seam.xml.ui.pages21xmlsource" />
		<contenttype id="org.jboss.tools.seam.xml.ui.page21xmlsource" />
	</contexttype>
		
	<cssholder uri="">
       <tag name="style" />
       <tag name="link">
       	<attribute name="href" />
       </tag>
	</cssholder>
   </extension>

  <extension id="kbproblemmarker" name="%KBProblemName" point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent value="true">
      </persistent>
   </extension>

   <extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			markerType="org.jboss.tools.jst.web.kb.kbproblemmarker"
			class="org.jboss.tools.jst.web.kb.action.KBProblemMarkerResolutionGenerator">
		</markerResolutionGenerator>
	</extension>

   <extension
        point="org.eclipse.wst.validation.validator"
		id="KbValidator"
		name="JBoss KB Project Validator">
		<validator>
			<projectNature id="org.eclipse.jdt.core.javanature" />
			<filter
				objectClass="org.eclipse.core.resources.IFile"
				nameFilter="*.java"/>
			<filter
				objectClass="org.eclipse.core.resources.IFile"
				nameFilter="*.xml"/>
			<filter
				objectClass="org.eclipse.core.resources.IFile"
				nameFilter="*.xhtml"/>
			<filter
				objectClass="org.eclipse.core.resources.IFile"
				nameFilter="*.jsp">
			</filter>
			<filter
				objectClass="org.eclipse.core.resources.IFile"
				nameFilter="*.jspf">
			</filter>
			<filter
				objectClass="org.eclipse.core.resources.IFile"
				nameFilter="*.jsf">
			</filter>
			<filter
				objectClass="org.eclipse.core.resources.IFile"
				nameFilter="*.jsv">
			</filter>
			<filter
				objectClass="org.eclipse.core.resources.IFile"
				nameFilter="*.jtpl">
			</filter>
         	<contentTypeBinding contentTypeId="org.eclipse.jst.jsp.core.jspsource"/>
         	<contentTypeBinding contentTypeId="org.eclipse.jst.jsp.core.jspfragmentsource"/>
         	<contentTypeBinding contentTypeId="org.eclipse.jst.jsp.core.tagsource"/>
			<markerId
               markerIdValue="KbValidationProblem">
         	</markerId>
			<helper 
				class="org.jboss.tools.jst.web.kb.internal.validation.ContextValidationHelper">
			</helper>
			<run
         		class="org.jboss.tools.jst.web.kb.internal.validation.ValidatorManager"
         		incremental="true"
         		fullBuild="true"
         	/>
		</validator>
	</extension>

   <extension
         id="KbValidationProblem"
         name="Kb Validation Problem"
         point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.wst.validation.problemmarker"/>
		<attribute name="kind"/>
      	<persistent
            value="true">
      	</persistent>
   </extension>

   <extension point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution id="default">
         <uri 
            name="http://java.sun.com/jsf/html" 
            uri="platform:/plugin/org.jboss.tools.jst.web.kb/taglibs/tld/html_basic.tld"/>
         <uri 
            name="http://java.sun.com/jsf/core" 
            uri="platform:/plugin/org.jboss.tools.jst.web.kb/taglibs/tld/jsf_core.tld"/>
         <uri 
            name="http://richfaces.org/rich" 
            uri="platform:/plugin/org.jboss.tools.jst.web.kb/taglibs/tld/rich.tld"/>
         <uri 
            name="http://richfaces.org/a4j" 
            uri="platform:/plugin/org.jboss.tools.jst.web.kb/taglibs/tld/ajax4jsf.tld"/>
         <uri 
            name="http://jboss.com/products/seam/taglib" 
            uri="platform:/plugin/org.jboss.tools.jst.web.kb/taglibs/tld/s.tld"/>
      </catalogContribution>
   </extension>

</plugin>