<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
	    <propertyTester
	      	id="org.jboss.tools.jst.js.bower.tester"
	      	type="org.eclipse.core.resources.IResource"
	      	namespace="org.jboss.tools.jst.js.bower"
	      	properties="isBowerInit"
	      	class="org.jboss.tools.jst.js.bower.internal.launch.tester.BowerTester">
	    </propertyTester>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.jboss.tools.jst.js.bower.internal.launch.shortcut.BowerUpdate"
            id="org.jboss.tools.jst.js.bower.update"
            label="Bower Update"
            icon="icons/bower_16.png"
            modes="run">
        <contextualLaunch>
            <enablement>
                <with variable="selection">
                    <count value="1"/>
                    <iterate>
                        <adapt  type="org.eclipse.core.resources.IResource">
	                        <test property="org.jboss.tools.jst.js.bower.isBowerInit" 
	                           	forcePluginActivation="true"/>
                        </adapt> 
                    </iterate>
                </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.jboss.tools.jst.js.bower.internal.launch.shortcut.BowerInstall"
            id="org.jboss.tools.jst.js.bower.install"
            label="Bower Install"
            icon="icons/bower_16.png"
            modes="run">
        <contextualLaunch>
            <enablement>
                <with variable="selection">
                    <count value="1"/>
                    <iterate>
                        <adapt  type="org.eclipse.core.resources.IResource">
	                        <test property="org.jboss.tools.jst.js.bower.isBowerInit" 
	                           	forcePluginActivation="true"/>
                        </adapt> 
                    </iterate>
                </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <command
            name="bower update"
            description="Bower Update"
            categoryId="org.eclipse.debug.ui.category.run"
            id="org.jboss.tools.jst.js.bower.command.update"
            >
      </command>
      
      <!--keyBinding
            keySequence="M3+M2+D E"
            contextId="org.eclipse.ui.globalScope"
            commandId="com.example.ExampleLaunchShortcutId.debug"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding-->
   </extension>    

<extension
 point="org.eclipse.ui.commandImages">
 <image
  commandId="org.jboss.tools.jst.js.bower.command.update"
  icon="icons/bower_16.png" />
</extension>

	<extension
		point="org.eclipse.ui.handlers">

		<handler
			commandId="org.jboss.tools.jst.js.bower.command.update"
			class="org.jboss.tools.jst.js.bower.internal.launch.shortcut.BowerUpdateCommandHandler">		
			<activeWhen>
                <with variable="selection">
                    <count value="1"/>
                    <iterate>
                        <adapt  type="org.eclipse.core.resources.IResource">
	                        <test property="org.jboss.tools.jst.js.bower.isBowerInit" 
	                           	forcePluginActivation="true"/>
                        </adapt> 
                    </iterate>
                </with>
			</activeWhen>
		</handler>
		
	</extension>	
	
   <extension
      point = "org.eclipse.ui.newWizards">
      <wizard
            id="org.jboss.tools.jst.js.wizards.bower.init"
            name="Bower Init"
            class="org.jboss.tools.jst.js.bower.internal.wizard.BowerInitWizard"
            category="org.eclipse.wst.jsdt.ui.java"
            icon="icons/bower_16.png">
            <description>Bower Init</description>
            <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.jboss.tools.jst.js.JavaScriptTools"
            class="org.jboss.tools.jst.js.bower.internal.preference.BowerPreferencePage"
            id="org.jboss.tools.jst.js.bower.preferences.BowerPreferencesPage"
            name="Bower">
      </page>
   </extension>
   <extension
      point="org.eclipse.core.runtime.preferences">
	   <initializer
	         class="org.jboss.tools.jst.js.bower.internal.preference.BowerPreferenceInitializer">
	   </initializer>
	</extension>
</plugin>
