<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

 <extension
       point="org.jboss.tools.common.model.preferences">
    <contribution
          resource="meta/ionic-1.0-palette.xml" priority="4">
    </contribution>
 </extension>

   <extension
         point="org.jboss.tools.common.model.ui.InsertTagWizard">
      <tag name="_Palette_/Mobile/Ionic/version:1.0/1.page/0.JS#CSS" 
      	class="org.jboss.tools.jst.angularjs.internal.ionic.palette.wizard.AddJSCSSREferencesWizard"/>
      <tag name="_Palette_/Mobile/Ionic/version:1.0/1.page/1.Content" 
      	class="org.jboss.tools.jst.angularjs.internal.ionic.palette.wizard.NewContentWizard" 
      	keywords="content"/>
      <tag name="_Palette_/Mobile/Ionic/version:1.0/1.page/2.Scroll" 
      	class="org.jboss.tools.jst.angularjs.internal.ionic.palette.wizard.NewScrollWizard" 
      	keywords="scroll"/>
      <tag name="_Palette_/Mobile/Ionic/version:1.0/1.page/3.Header_Bar" 
      	class="org.jboss.tools.jst.angularjs.internal.ionic.palette.wizard.NewHeaderBarWizard" 
      	keywords="header bar"/>
      <tag name="_Palette_/Mobile/Ionic/version:1.0/1.page/4.Footer_Bar" 
      	class="org.jboss.tools.jst.angularjs.internal.ionic.palette.wizard.NewFooterBarWizard" 
      	keywords="footer bar"/>
      <tag name="_Palette_/Mobile/Ionic/version:1.0/1.page/5.Tabs" 
      	class="org.jboss.tools.jst.angularjs.internal.ionic.palette.wizard.NewTabsWizard" 
      	keywords="tab tabs"/>
      <tag name="_Palette_/Mobile/Ionic/version:1.0/1.page/6.Tab" 
      	class="org.jboss.tools.jst.angularjs.internal.ionic.palette.wizard.NewTabWizard" 
      	keywords="tab tabs"/>
      <tag name="_Palette_/Mobile/Ionic/version:1.0/1.page/7.Slidebox" 
      	class="org.jboss.tools.jst.angularjs.internal.ionic.palette.wizard.NewSlideboxWizard" 
      	keywords="slide box"/>
      <tag name="_Palette_/Mobile/Ionic/version:1.0/1.page/71.Checkbox" 
      	class="org.jboss.tools.jst.angularjs.internal.ionic.palette.wizard.NewCheckBoxWizard" 
      	keywords="slide box"/>
      <tag name="_Palette_/Mobile/Ionic/version:1.0/1.page/72.Radio" 
      	class="org.jboss.tools.jst.angularjs.internal.ionic.palette.wizard.NewRadioWizard" 
      	keywords="slide box"/>
      <tag name="_Palette_/Mobile/Ionic/version:1.0/1.page/73.Toggle" 
      	class="org.jboss.tools.jst.angularjs.internal.ionic.palette.wizard.NewToggleWizard" 
      	keywords="slide box"/>
   </extension>

   <extension
         point="org.jboss.tools.jst.web.kb.tagLib">
      <tag-lib
            uri="ionic"
            class="org.jboss.tools.jst.angularjs.internal.ionic.palette.IonicTagLib"/>
      <tag-lib
            location="platform:/plugin/org.jboss.tools.jst.angularjs/taglibs/Ionic.xml"
            name="Ionic"
            uri="ionic"
            recognizer="org.jboss.tools.jst.angularjs.internal.ionic.IonicRecognizer"/>
   	</extension>

	<extension point="org.jboss.tools.jst.web.ui.jscssLibs">
		<libs path="meta/js-css.xml"/>
	</extension> 

</plugin>