<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.jboss.tools.jst.web.kb.tagLib">
      <tag-lib
            uri="ionic"
            class="org.jboss.tools.jst.angularjs.internal.ionic.palette.IonicTagLib"/>
      <tag-lib
            location="platform:/plugin/org.jboss.tools.jst.angularjs/taglibs/Ionic.xml"
            name="Ionic"
            uri="ionic"
            recognizer="org.jboss.tools.jst.angularjs.internal.ionic.IonicRecognizer"/>
      <tag-lib
            location="platform:/plugin/org.jboss.tools.jst.angularjs/taglibs/AngularJS.xml"
            name="AngularJS"
            uri="angularJS"
            recognizer="org.jboss.tools.jst.angularjs.internal.AngularJSRecognizer"/>
   	</extension>

	<extension point="org.jboss.tools.jst.web.ui.jscssLibs">
		<libs path="meta/js-css.xml"/>
	</extension>
 <extension
       point="org.jboss.tools.jst.web.ui.PaletteGroup">
    <group
          class="org.jboss.tools.jst.angularjs.internal.ionic.palette.model.IonicPaletteGroup">
    </group>
 </extension> 
   <extension
 	point="org.jboss.tools.jst.web.ui.CategoryDescriptor">
    <category-descriptor
          name="AngularJS"
          uri="angularJS"
          property-set-viewer-class="org.jboss.tools.jst.angularjs.internal.ui.AngularJSPropertySetViewer"
          category-filter-class="org.jboss.tools.jst.angularjs.internal.ui.AngularCategoryFilter">
    </category-descriptor>
 </extension>
 
</plugin>