<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.jboss.tools.common.model.specialwizard">
      <specialwizard class="org.jboss.tools.jst.web.ui.wizards.appregister.AppRegisterWizard" id="org.jboss.tools.jst.web.ui.wizards.appregister.AppRegisterWizard">
      </specialwizard>
      <specialwizard class="org.jboss.tools.jst.web.ui.wizards.links.HiddenLinksWizard" id="org.jboss.tools.jst.web.ui.wizards.links.HiddenLinksWizard">
      </specialwizard>
   </extension>
   <extension point="org.jboss.tools.common.model.ui.attributeAdapter">
      <attributeAdapter class="org.jboss.tools.jst.web.ui.attribute.adapter.WebRoleListAdapter" id="WebRoleList">
      </attributeAdapter>
      <attributeAdapter class="org.jboss.tools.jst.web.ui.attribute.adapter.WebRoleListAdapter" id="WebRoleChoiceList">
      </attributeAdapter>
      <attributeAdapter class="org.jboss.tools.jst.web.ui.attribute.adapter.LibrarySetListAdapter" id="LibrarySetList">
      </attributeAdapter>
      <attributeAdapter class="org.jboss.tools.jst.web.ui.attribute.adapter.ServletNameListAdapter" id="ServletList">
      </attributeAdapter>
   </extension>
   <extension point="org.jboss.tools.common.model.ui.attributeEditor">
      <attributeEditor class="org.jboss.tools.common.model.ui.attribute.editor.ComboBoxEditor" id="WebRoleList">
      </attributeEditor>
      <attributeEditor class="org.jboss.tools.common.model.ui.attribute.editor.MultipleChoiceEditor" id="WebRoleChoiceList">
      </attributeEditor>
      <attributeEditor class="org.jboss.tools.common.model.ui.attribute.editor.ComboBoxEditor" id="LibrarySetList">
      </attributeEditor>
      <attributeEditor class="org.jboss.tools.common.model.ui.attribute.editor.ComboBoxEditor" id="ServletList">
      </attributeEditor>
   </extension>
   
   <extension id="e" name="XML Editors" point="org.jboss.tools.common.model.ui.xmlEditor">
      <xmlEditor 
         class="org.jboss.tools.jst.web.ui.editors.WebCompoundEditor" 
         contributorClass="org.jboss.tools.common.model.ui.texteditors.MultiPageContributor" 
         entities="FileWebApp,FileWebApp24,FileWebApp25" 
         icon="$nl$/images/xstudio/editors/webapp_file.gif" 
         name="%editors.web.name">
      </xmlEditor>
      <xmlEditor class="org.jboss.tools.jst.web.ui.editors.TLDCompoundEditor" contributorClass="org.jboss.tools.common.model.ui.texteditors.MultiPageContributor" entities="FileTLD_PRO,FileTLD_1_2,FileTLD_2_0,FileTLD_2_1" icon="$nl$/images/xstudio/editors/taglibs_file.gif" name="%editors.tld12.name">
      </xmlEditor>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page category="org.jboss.tools.common.model.ui" class="org.jboss.tools.jst.web.ui.internal.preferences.LibrarySetsPreferencePage" id="org.jboss.tools.common.xstudio.libsets" 
      name="%PreferencePage_LibrarySets">
      </page>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editor 
          class="org.jboss.tools.jst.web.ui.editors.TLDCompoundEditor" 
          contributorClass="org.jboss.tools.common.model.ui.texteditors.MultiPageContributor" default="true" extensions="tld" icon="$nl$/images/xstudio/editors/taglibs_file.gif" 
          matchingStrategy = "org.jboss.tools.common.core.resources.MatchingStrategyImpl"
          id="org.jboss.tools.jst.web.ui.editors.TLDCompoundEditor" 
          name="%editors.tld12.name">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.actionSets">
      <!--actionSet description="%actionSets.modelActions.description" id="com.redhat.studio.actionSet" label="%actionSets.modelActions.label" visible="true">
         <action class="org.jboss.tools.jst.web.ui.action.RunPageActionDelegate" icon="$nl$/images/xstudio/actions/run_project.gif" id="org.jboss.tools.jst.web.ui.action.RunPageActionDelegate" label="%actionSets.serverActions.runApplicationFromSelectedElement.label" style="pulldown" toolbarPath="Normal/SSRun" tooltip="%actionSets.serverActions.runApplicationFromSelectedElement.label">
         </action>
      </actionSet-->
   </extension>
   <!--extension id="textproblemmarker" name="%textProblemName" point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker">
      </super>
      <super type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent value="true">
      </persistent>
   </extension-->
   <extension id="strutsmarker" name="%strutsProblemName" point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent value="true">
      </persistent>
   </extension>
   <extension id="constraintsmarker" name="%constraintProblemName" point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent value="true">
      </persistent>
   </extension>
   <extension point="org.jboss.tools.common.model.ui.paletteConstraints">
      <editorType id="web.xml">
      </editorType>
      <editorType id="tld">
      </editorType>
      <editorType id="jsp">
      </editorType>
      <editorType id="html">
      </editorType>
   </extension>

   <extension point="org.eclipse.ui.newWizards">      
      <category name="%NewWizardCat_JBossToolsWeb" 
                id="org.jboss.tools.jst.web">
      </category>
      <wizard
            category="org.jboss.tools.jst.web"
            class="org.jboss.tools.jst.web.ui.wizards.newfile.NewCSSFileWizard"
            finalPerspective="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective"
            icon="$nl$/images/xstudio/wizards/new_css_file.gif"
            id="org.jboss.tools.jst.web.ui.wizards.newfile.NewCSSFileWizard"
            name="%NewWizard_CSSFile"
            preferredPerspectives="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective"
            project="false">
         <description>
            	%NewWizardDescription_CSSFile
         </description>
         <selection class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="org.jboss.tools.jst.web"
            class="org.jboss.tools.jst.web.ui.wizards.css.NewCSSClassWizard"
            finalPerspective="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective"
            icon="$nl$/images/xstudio/wizards/new_css_class.gif"
            id="org.jboss.tools.jst.web.ui.wizards.newfile.NewCSSClassWizard"
            name="%NewWizard_CSSClass"
            preferredPerspectives="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective"
            project="false">
         <description>
            	%NewWizardDescription_CSSClass
         </description>
         <selection class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="org.jboss.tools.jst.web"
            class="org.jboss.tools.jst.web.ui.wizards.newfile.NewJSFileWizard"
            finalPerspective="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective"
            icon="$nl$/images/xstudio/wizards/new_js_file.gif"
            id="org.jboss.tools.jst.web.ui.wizards.newfile.NewJSFileWizard"
            name="%NewWizard_JSFile"
            preferredPerspectives="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective"
            project="false">
         <description>
            	%NewWizardDescription_JSFile
         </description>
         <selection class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="org.jboss.tools.jst.web"
            class="org.jboss.tools.jst.web.ui.wizards.newfile.NewWebFileWizard"
            finalPerspective="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective"
            icon="$nl$/images/xstudio/wizards/new_webapp_file.gif"
            id="org.jboss.tools.jst.web.ui.wizards.newfile.NewWebFileWizard"
            name="%NewWizard_WebDescriptor"
            preferredPerspectives="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective"
            project="false">
         <description>
            	%NewWizardDescription_WebDescriptor
         </description>
         <selection class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="org.jboss.tools.jst.web"
            class="org.jboss.tools.common.model.ui.wizard.newfile.NewJSPFileWizard"
            finalPerspective="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective"
            icon="$nl$/images/xstudio/wizards/new_jsp_file.gif"
            id="org.jboss.tools.common.model.ui.wizard.newfile.NewJSPFileWizard"
            name="%NewWizard_JSPFile"
            preferredPerspectives="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective"
            project="false">
         <description>
            	%NewWizardDescription_JSPFile
         </description>
         <selection class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="org.jboss.tools.jst.web"
            class="org.jboss.tools.common.model.ui.wizard.newfile.NewXHTMLFileWizard"
            finalPerspective="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective"
            icon="$nl$/images/xstudio/wizards/new_html_file.gif"
            id="org.jboss.tools.common.model.ui.wizard.newfile.NewXHTMLFileWizard"
            name="%NewWizard_XHTMLFile"
            preferredPerspectives="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective"
            project="false">
         <description>
            	%NewWizardDescription_XHTMLFile
         </description>
         <selection class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="org.jboss.tools.jst.web"
            class="org.jboss.tools.common.model.ui.wizard.newfile.NewHTMLFileWizard"
            finalPerspective="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective"
            icon="$nl$/images/xstudio/wizards/new_html_file.gif"
            id="org.jboss.tools.common.model.ui.wizard.newfile.NewHTMLFileWizard"
            name="%NewWizard_HTMLFile"
            preferredPerspectives="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective"
            project="false">
         <description>
            	%NewWizardDescription_HTMLFile
         </description>
         <selection class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="org.jboss.tools.jst.web"
            class="org.jboss.tools.common.model.ui.wizard.newfile.NewPropertiesFileWizard"
            icon="$nl$/images/xstudio/wizards/new_properties_file.gif"
            id="org.jboss.tools.common.model.ui.wizard.newfile.NewPropertiesFileWizard"
            name="%NewWizard_PropertiesFile"
            project="false">
         <description>
            	%NewWizardDescription_PropertiesFile
         </description>
         <selection class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="org.jboss.tools.jst.web"
            class="org.jboss.tools.jst.web.ui.wizards.newfile.NewTLDFileWizard"
            finalPerspective="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective"
            icon="$nl$/images/xstudio/wizards/new_taglibs_file.gif"
            id="org.jboss.tools.jst.web.ui.wizards.newfile.NewTLDFileWizard"
            name="%NewWizard_TLDFile"
            preferredPerspectives="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective"
            project="false">
         <description>
            	%NewWizardDescription_TLDFile
         </description>
         <selection class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>

   <extension id="org.jboss.tools.jst.web.ui.views" name="JBoss Tools" point="org.eclipse.ui.views">
      <category id="web.views.category.id" name="%ViewCategory_JBossToolsWeb">
      </category>
      <view category="web.views.category.id" class="org.jboss.tools.common.model.ui.views.palette.PaletteViewPart" icon="$nl$/images/xstudio/views/palette.gif" id="org.jboss.tools.common.model.ui.views.palette.PaletteView" name="%paletteViewPart.name">
      </view>
      <view category="web.views.category.id" class="org.jboss.tools.jst.web.ui.navigator.WebProjectsNavigator" icon="$nl$/images/xstudio/views/web_project.gif" id="org.jboss.tools.jst.web.ui.navigator.WebProjectsView" name="%ViewName_WebProjects">
      </view>
   </extension>



   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution id="RedHatEclipse4Web_IProject" objectClass="org.eclipse.core.resources.IProject">
         <menu id="RedHat4Web" label="JBoss Tools" path="additions">
            <separator name="a">
            </separator>
            <separator name="b">
            </separator>
            <separator name="c">
            </separator>
            <separator name="d">
            </separator>
         </menu>
         <!--action class="org.jboss.tools.jst.web.ui.action.UnregisterFromServerXmlActionDelegate" enablesFor="*" id="org.jboss.tools.common.xstudio.action.UnregisterFromServerXmlActionDelegate" label="%popupMenus.action.unregisterFromServerXml" menubarPath="RedHat4Web/c">
         </action-->
         <!--action class="org.jboss.tools.jst.web.ui.action.RegisterInServerXmlActionDelegate" enablesFor="*" id="org.jboss.tools.common.xstudio.action.RegisterInServerXmlActionDelegate" label="%popupMenus.action.registerInServerXml" menubarPath="RedHat4Web/c">
         </action-->
         <action class="org.jboss.tools.jst.web.ui.action.SaveProjectAsTemplateActionDelegate" enablesFor="*" id="org.jboss.tools.common.xstudio.action.SaveProjectAsTemplateActionDelegate" label="%popupMenus.action.saveAsTemplate" menubarPath="RedHat4Web/c">
         </action>
      </objectContribution>
      <objectContribution id="RedHatEclipse4Web_IJavaProject" objectClass="org.eclipse.jdt.core.IJavaProject">
         <menu id="RedHat4Web" label="JBoss Tools" path="additions">
            <separator name="a">
            </separator>
            <separator name="b">
            </separator>
            <separator name="c">
            </separator>
            <separator name="d">
            </separator>
         </menu>
         <!--action class="org.jboss.tools.jst.web.ui.action.UnregisterFromServerXmlActionDelegate" enablesFor="*" id="org.jboss.tools.common.xstudio.action.UnregisterFromServerXmlActionDelegate" label="%popupMenus.action.unregisterFromServerXml" menubarPath="RedHat4Web/c">
         </action-->
         <!--action class="org.jboss.tools.jst.web.ui.action.RegisterInServerXmlActionDelegate" enablesFor="*" id="org.jboss.tools.common.xstudio.action.RegisterInServerXmlActionDelegate" label="%popupMenus.action.registerInServerXml" menubarPath="RedHat4Web/c">
         </action-->
         <action class="org.jboss.tools.jst.web.ui.action.SaveProjectAsTemplateActionDelegate" enablesFor="*" id="org.jboss.tools.common.xstudio.action.SaveProjectAsTemplateActionDelegate" label="%popupMenus.action.saveAsTemplate" menubarPath="RedHat4Web/c">
         </action>
      </objectContribution>
      <!--objectContribution id="RedHatEclipse4Web_IFile" objectClass="org.eclipse.core.resources.IFile">
         <menu id="RedHat4Web" label="JBoss Tools" path="additions">
            <separator name="a">
            </separator>
            <separator name="generate">
            </separator>
            <separator name="help">
            </separator>
         </menu>
         
      </objectContribution-->
      <objectContribution id="RedHatEclipse4Web_XModelObject" objectClass="org.jboss.tools.common.model.XModelObject">
         <menu id="RedHat4Web" label="JBoss Tools" path="additions">
            <separator name="a">
            </separator>
            <separator name="generate">
            </separator>
            <separator name="help">
            </separator>
         </menu>
         <!--action class="org.jboss.tools.common.model.ui.action.file.HelpActionDelegate" enablesFor="*" id="org.jboss.tools.common.model.ui.action.file.HelpActionDelegate" label="Help" menubarPath="RedHat4Web/help">
         </action-->
      </objectContribution>
   </extension>
   <extension
         point="org.jboss.tools.common.model.resourceMapping">
      <mapping
          loader="org.jboss.tools.jst.web.ui"
          priority="10"
          kind="class"
          paths=""
      />
   </extension>

   <extension point="org.eclipse.ui.perspectives">
      <perspective class="org.jboss.tools.jst.web.ui.WebDevelopmentPerspectiveFactory" icon="$nl$/images/xstudio/perspective.png" id="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective" name="%perspective.name">
      </perspective>
   </extension>

   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective">
         <perspectiveShortcut id="org.eclipse.jdt.ui.JavaPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut id="org.eclipse.debug.ui.DebugPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut id="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         </perspectiveShortcut>
         <newWizardShortcut id="org.eclipse.jdt.ui.wizards.NewPackageCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut id="org.eclipse.jdt.ui.wizards.NewClassCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut id="org.eclipse.jdt.ui.wizards.NewInterfaceCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut id="org.eclipse.jdt.ui.wizards.NewSourceFolderCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut id="org.eclipse.jdt.ui.wizards.NewSnippetFileCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut id="org.eclipse.ui.wizards.new.folder">
         </newWizardShortcut>
         <newWizardShortcut id="org.eclipse.ui.wizards.new.file">
         </newWizardShortcut>
         <newWizardShortcut id="org.jboss.tools.struts.ui.wizard.newfile.NewStrutsConfigFileWizard">
         </newWizardShortcut>
         <!--newWizardShortcut 
             id="org.jboss.tools.struts.ui.wizard.newfile.NewStrutsConfigFile10Wizard">
         </newWizardShortcut-->
         <newWizardShortcut id="org.jboss.tools.jsf.ui.wizard.newfile.NewFacesConfigFileWizard">
         </newWizardShortcut>
         <!--newWizardShortcut id="org.jboss.tools.orm.wizard.newfile.NewHibernateFileWizard">
         </newWizardShortcut-->
         <newWizardShortcut 
             id="org.jboss.tools.jst.web.tiles.ui.wizard.newfile.NewTilesFileWizard">
         </newWizardShortcut>
         <newWizardShortcut id="org.jboss.tools.struts.ui.wizard.newfile.NewTilesFileWizard">
         </newWizardShortcut>
         <newWizardShortcut id="org.jboss.tools.struts.ui.wizard.newfile.NewValidationFileWizard">
         </newWizardShortcut>
         <newWizardShortcut id="org.jboss.tools.jst.web.ui.wizard.newfile.NewTLDFileWizard">
         </newWizardShortcut>
         <newWizardShortcut id="org.jboss.tools.common.model.ui.wizard.newfile.NewJSPFileWizard">
         </newWizardShortcut>
         <newWizardShortcut id="org.jboss.tools.common.model.ui.wizard.newfile.NewXHTMLFileWizard">
         </newWizardShortcut>
         <newWizardShortcut id="org.jboss.tools.common.model.ui.wizard.newfile.NewHTMLFileWizard">
         </newWizardShortcut>
         <newWizardShortcut id="org.jboss.tools.jst.web.ui.wizards.newfile.NewCSSFileWizard">
         </newWizardShortcut>
         <newWizardShortcut id="org.jboss.tools.jst.web.ui.wizards.newfile.NewJSFileWizard">
         </newWizardShortcut>
         <!--viewShortcut 
             id="org.jboss.tools.common.model.ui.navigator.NavigatorViewPart">
         </viewShortcut-->
         <newWizardShortcut id="org.jboss.tools.common.model.ui.wizard.newfile.NewPropertiesFileWizard">
         </newWizardShortcut>
         <!--viewShortcut id="org.jboss.tools.common.model.ui.views.palette.PaletteView">
         </viewShortcut-->
         <viewShortcut id="org.eclipse.gef.ui.palette_view">
         </viewShortcut>
         <viewShortcut id="org.jboss.tools.jst.web.ui.navigator.WebProjectsView">
         </viewShortcut>
         <viewShortcut id="org.jboss.tools.jst.web.ui.action.BrowserView">
         </viewShortcut>
         <viewShortcut id="org.eclipse.jdt.ui.PackageExplorer">
         </viewShortcut>
         <viewShortcut id="org.eclipse.jdt.ui.TypeHierarchy">
         </viewShortcut>
         <viewShortcut id="org.eclipse.debug.ui.ConsoleView">
         </viewShortcut>
         <viewShortcut id="org.eclipse.ui.views.ContentOutline">
         </viewShortcut>
         <viewShortcut id="org.eclipse.ui.views.PropertySheet">
         </viewShortcut>
         <viewShortcut id="org.eclipse.ui.views.TaskList">
         </viewShortcut>
         <viewShortcut id="org.eclipse.ui.views.ResourceNavigator">
         </viewShortcut>
         <!--actionSet id="org.jboss.tools.struts.actionSet">
         </actionSet>
         <actionSet id="org.jboss.tools.jsf.actionSet">
         </actionSet-->
         <perspectiveShortcut id="org.eclipse.debug.ui.DebugPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <perspectiveShortcut id="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective">
         </perspectiveShortcut>
         <viewShortcut id="org.jboss.tools.common.model.ui.navigator.NavigatorViewPart">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut id="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective">
         </perspectiveShortcut>
         <viewShortcut id="org.jboss.tools.common.model.ui.navigator.NavigatorViewPart">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
         <perspectiveShortcut id="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective">
         </perspectiveShortcut>
         <viewShortcut id="org.jboss.tools.common.model.ui.navigator.NavigatorViewPart">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <perspectiveShortcut id="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaHierarchyPerspective">
         <perspectiveShortcut id="org.jboss.tools.jst.web.ui.WebDevelopmentPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>

<extension point="org.eclipse.ui.navigator.viewer">
  <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
    <includes>
      <contentExtension pattern="org.jboss.tools.jst.web.ui.navigator.fileContent" />
      <contentExtension pattern="org.jboss.tools.jst.web.ui.navigator.projectContent" />
	  <contentExtension pattern="org.jboss.tools.jst.web.ui.navigator.XLinkHelper"/>
    </includes>
  </viewerContentBinding>
</extension>
<extension point="org.eclipse.ui.navigator.navigatorContent">
  <navigatorContent
            name="%NavigatorContent_FileContentProvider"
            priority="normal"
            icon="$nl$/images/xstudio/views/web_project.gif"
            activeByDefault="true"
            contentProvider="org.jboss.tools.jst.web.ui.navigator.XContentProvider"
            labelProvider="org.jboss.tools.jst.web.ui.navigator.WebProjectsLabelProvider"   
            id="org.jboss.tools.jst.web.ui.navigator.fileContent">         
    <triggerPoints>
      <or>         
        <instanceof 
              value="org.eclipse.core.resources.IFile" /> 
      </or>
    </triggerPoints>
    <possibleChildren>
       <or>         
          <instanceof value="org.jboss.tools.common.model.XModelObject" /> 
       </or>
    </possibleChildren>
    <actionProvider
      class="org.jboss.tools.jst.web.ui.navigator.XActionProvider"
      id="org.jboss.tools.jst.web.ui.navigator.file.XActionProvider">
      <enablement>
        <or>
          <instanceof value="org.jboss.tools.common.model.XModelObject"/>
          <instanceof value="org.eclipse.core.resources.IFile"/>
        </or>
      </enablement>
    </actionProvider>
    <commonSorter id="org.jboss.tools.jst.web.ui.navigator.sorter" class="org.jboss.tools.jst.web.ui.navigator.XSorter" />
  </navigatorContent>
</extension>

<extension point="org.eclipse.ui.navigator.navigatorContent">
  <navigatorContent
            name="%NavigatorContent_ProjectContentProvider"
            priority="highest"
            icon="$nl$/images/xstudio/views/web_project.gif"
            activeByDefault="true"
            contentProvider="org.jboss.tools.jst.web.ui.navigator.XProjectContentProvider"
            labelProvider="org.jboss.tools.jst.web.ui.navigator.XLabelProvider"   
            id="org.jboss.tools.jst.web.ui.navigator.projectContent">
    <triggerPoints>
      <or>         
        <instanceof 
              value="org.eclipse.core.resources.IProject" /> 
        <instanceof value="org.eclipse.jdt.core.IJavaProject" />
      </or>
    </triggerPoints>
    <possibleChildren>
       <or>         
          <instanceof value="org.jboss.tools.common.model.XModelObject" /> 
       </or>
    </possibleChildren>
    <actionProvider
      class="org.jboss.tools.jst.web.ui.navigator.XActionProvider"
      id="org.jboss.tools.jst.web.ui.navigator.project.XActionProvider">
      <enablement>
        <or>
          <instanceof value="org.jboss.tools.common.model.XModelObject"/>
        </or>
      </enablement>
    </actionProvider>
    <commonSorter id="org.jboss.tools.jst.web.ui.navigator.sorter" class="org.jboss.tools.jst.web.ui.navigator.XSorter" />
    <dropAssistant id="xxx" class="org.jboss.tools.jst.web.ui.navigator.XDropAdapterAssistant">
      <possibleDropTargets>
          <instanceof value="org.jboss.tools.common.model.XModelObject" /> 
      </possibleDropTargets>
    </dropAssistant>
  </navigatorContent>
</extension>

    <extension
          point="org.eclipse.ui.navigator.linkHelper">
       <linkHelper
             class="org.jboss.tools.jst.web.ui.navigator.XLinkHelper"
             id="org.jboss.tools.jst.web.ui.navigator.XLinkHelper">
          <selectionEnablement>
          	<or>
             <instanceof value="org.jboss.tools.common.model.XModelObject"/>
            </or> 
          </selectionEnablement>
          <editorInputEnablement>
          	<or>
             <instanceof value="org.eclipse.ui.IFileEditorInput"/>
             <instanceof value="org.jboss.tools.common.model.ui.editor.IModelObjectEditorInput"/>
            </or> 
          </editorInputEnablement>
       </linkHelper>
    </extension>

   <extension point="org.jboss.tools.common.model.classes">
		<xclass id="org.jboss.tools.jst.web.ui.WebUiPlugin"
			class="org.jboss.tools.jst.web.ui.WebUiPlugin"/>
		<xclass id="org.jboss.tools.jst.web.ui.action.AddOrm2NatureActionHandler"
			class="org.jboss.tools.jst.web.ui.action.AddOrm2NatureActionHandler"/>
		<!--xclass id="org.jboss.tools.jst.web.ui.action.BrowserView"
			class="org.jboss.tools.jst.web.ui.action.BrowserView"/-->
		<xclass id="org.jboss.tools.jst.web.ui.action.adf.AddADFSupportHandler"
			class="org.jboss.tools.jst.web.ui.action.adf.AddADFSupportHandler"/>
		<xclass id="org.jboss.tools.jst.web.ui.editors.TLDCompoundEditor"
			class="org.jboss.tools.jst.web.ui.editors.TLDCompoundEditor"/>
		<xclass id="org.jboss.tools.jst.web.ui.editors.TLDEditorMessages"
			class="org.jboss.tools.jst.web.ui.editors.TLDEditorMessages"/>
		<xclass id="org.jboss.tools.jst.web.ui.editors.WebCompoundEditor"
			class="org.jboss.tools.jst.web.ui.editors.WebCompoundEditor"/>
		<xclass id="org.jboss.tools.jst.web.ui.wizards.appregister.AppRegisterWizard"
			class="org.jboss.tools.jst.web.ui.wizards.appregister.AppRegisterWizard"/>
		<xclass id="org.jboss.tools.jst.web.ui.wizards.links.HiddenLinksWizard"
			class="org.jboss.tools.jst.web.ui.wizards.links.HiddenLinksWizard"/>
		<xclass id="org.jboss.tools.jst.web.ui.wizards.palette.ImportTLDPage"
			class="org.jboss.tools.jst.web.ui.wizards.palette.ImportTLDPage"/>
		<xclass id="org.jboss.tools.jst.web.ui.wizards.project.AddProjectTemplateNameView"
			class="org.jboss.tools.jst.web.ui.wizards.project.AddProjectTemplateNameView"/>
		<xclass id="org.jboss.tools.jst.web.ui.wizards.project.AddProjectTemplatePropertiesView"
			class="org.jboss.tools.jst.web.ui.wizards.project.AddProjectTemplatePropertiesView"/>
		<xclass id="org.jboss.tools.jst.web.ui.wizards.project.AddProjectTemplateResourcesView"
			class="org.jboss.tools.jst.web.ui.wizards.project.AddProjectTemplateResourcesView"/>
		<xclass id="org.jboss.tools.jst.web.ui.wizards.project.AddProjectTemplateVelocityView"
			class="org.jboss.tools.jst.web.ui.wizards.project.AddProjectTemplateVelocityView"/>
		<xclass id="org.jboss.tools.jst.web.ui.wizards.project.EditProjectTemplateView"
			class="org.jboss.tools.jst.web.ui.wizards.project.EditProjectTemplateView"/>
		<xclass id="org.jboss.tools.jst.web.ui.editors.forms.TLDFormLayoutData"
			class="org.jboss.tools.jst.web.ui.editors.forms.TLDFormLayoutData"/>
		<xclass id="org.jboss.tools.jst.web.ui.editors.webapp.form.WebAppFormLayoutData"
			class="org.jboss.tools.jst.web.ui.editors.webapp.form.WebAppFormLayoutData"/>
		<xclass id="org.jboss.tools.jst.web.ui.wizards.links.HiddenLinksWizard"
			class="org.jboss.tools.jst.web.ui.wizards.links.HiddenLinksWizard"/>
   </extension>
   
   <extension
         point="org.jboss.tools.common.model.ui.labelDecorator">
      <labelDecorator
            entities="FileTLD_PRO,FileTLD_1_2,FileTLD_2_0,FileTLD_2_1"
            name="File TLD"
            partition="Tag Libraries"
            defaultValue="{name} [{shortname}]">
            <variable name="shortname" description="attribute of taglib node"/>
            <variable name="uri" description="attribute of taglib node"/>
            <variable name="display-name" description="attribute of taglib node"/>
            <example entity="FileTLD_1_2">
               <put name="name" value="taglib"/>
               <put name="shortname" value="c"/>
               <put name="uri" value="http://java.sun.com/jstl/core"/>
               <put name="display-name" value="JSTL Core"/>
            </example>
      </labelDecorator>

      <labelDecorator
            entities="TLDTag12,TLDTag20,TLDTag21"
            name="Tag"
            partition="Tag Libraries"
            defaultValue="{display-name}">
            <variable name="display-name" description="attribute of tag node"/>
            <example entity="TLDTag12">
               <put name="name" value="tag1"/>
            </example>
            <example entity="TLDTag12">
               <put name="name" value="tag2"/>
               <put name="display-name" value="Second Tag"/>
            </example>
      </labelDecorator>

      <labelDecorator
            entities="TLDTagFile"
            name="Tag File"
            partition="Tag Libraries"
            defaultValue="{display-name}">
            <variable name="display-name" description="attribute of tag-file node"/>
            <variable name="path" description="attribute of tag-file node"/>
            <example entity="TLDTagFile">
               <put name="name" value="f"/>
               <put name="display-name" value="File"/>
               <put name="path" value="/a/b/c.tag"/>
            </example>
      </labelDecorator>

      <labelDecorator
            entities="TLDAttribute,TLDAttribute12,TLDAttribute20,TLDAttribute21,TLDAttribute2F"
            name="Attribute"
            partition="Tag Libraries"
            defaultValue="{name}{required( REQUIRED)}">
            <variable name="required(value)"
            		  class="org.jboss.tools.jst.web.ui.navigator.decorator.TLDAttributeDecorator" 
            		  description="inserts 'value' if attribute 'required' is set to 'true'"/>
            <example entity="TLDAttribute12">
               <put name="name" value="attr1"/>
               <put name="required" value="true"/>
            </example>
            <example entity="TLDAttribute12">
               <put name="name" value="attr2"/>
               <put name="required" value="false"/>
            </example>
      </labelDecorator>

      <labelDecorator
            entities="TLDFunction"
            name="Function"
            partition="Tag Libraries"
            defaultValue="{display-name}">
            <variable name="function-class" description="attribute of function node"/>
            <variable name="display-name" description="attribute of function node"/>
            <example entity="TLDFunction">
               <put name="name" value="func"/>
               <put name="display-name" value="Custom Function"/>
               <put name="function-class" value="a.b.C"/>
            </example>
      </labelDecorator>

      <labelDecorator
            entities="TLDVariable"
            name="Variable"
            partition="Tag Libraries"
            defaultValue="{name}">
            <variable name="scope" description="attribute of variable node"/>
            <example entity="TLDVariable">
               <put name="name-given" value="var1"/>
               <put name="scope" value="NESTED"/>
            </example>
            <example entity="TLDVariable">
               <put name="name-from-attribute" value="var2"/>
               <put name="scope" value="AT_BEGIN"/>
            </example>
      </labelDecorator>

      <labelDecorator
            entities="TLDValidator"
            name="Validator"
            partition="Tag Libraries"
            defaultValue="{name}">
            <variable name="validator-class" description="attribute of validator node"/>
            <example entity="TLDValidator">
               <put name="validator-class" value="a.b.C"/>
            </example>
      </labelDecorator>

   </extension>

</plugin>
