<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension 
		point="tern.eclipse.ide.core.ternNatureAdapters"
		id="org.jboss.tools.jst.jsdt.ternNatureAdapters"
		name="org.jboss.tools.jst.jsdt.tern.ternNatureAdapters">
		
		<ternAdaptToNature 
			id = "org.eclipse.wst.jsdt.core.jsNature"
			name = "JavaScript" />
	</extension>
</plugin>
