<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension 
		point="tern.eclipse.ide.core.ternNatureAdapters"
		id="org.jboss.tools.jst.jsdt.ternNatureAdapters"
		name="org.jboss.tools.jst.jsdt.tern.ternNatureAdapters">
		
		<ternAdaptToNature 
			id = "org.eclipse.wst.jsdt.core.jsNature"
			name = "JavaScript">
			<defaultModules>
				<module name="browser" />
				<module name="ecma5" />
			</defaultModules>
		</ternAdaptToNature>
		
		<ternAdaptToNature 
			id = "org.eclipse.wst.jsdt.core.jsNature"
			class="org.jboss.tools.jst.jsdt.configuration.AngularJSProjectCapability">
			<defaultModules>
				<module name="angular" />
			</defaultModules>
		</ternAdaptToNature>
		
	</extension>
	<extension 
		point="org.eclipse.angularjs.core.angularNatureAdapters"
		id="org.jboss.tools.jst.jsdt.angularNatureAdapters"
		name="org.jboss.tools.jst.jsdt.angularNatureAdapters">

		<angularAdaptToNature 
			id = "org.eclipse.wst.jsdt.core.jsNature"
			name = "JavaScript" />
	</extension>
	<extension
		point="org.eclipse.ui.activities">
		<categoryActivityBinding
			activityId="org.jboss.tools.jst.jsdt.development"
			categoryId="org.jboss.tools.common.model.ui.experimental">
		</categoryActivityBinding>
		<activity
			id="org.jboss.tools.jst.jsdt.development"
			name="JavaScript Development">
		</activity>
		<activityPatternBinding
			activityId="org.jboss.tools.jst.jsdt.development"
			pattern="tern\.eclipse\.ide\.server\.nodejs\.ui/.*">
		</activityPatternBinding>
		<activityPatternBinding
			activityId="org.jboss.tools.jst.jsdt.development"
			pattern="tern\.eclipse\.ide\.tools\.ui/.*">
		</activityPatternBinding>
		<activityPatternBinding
			activityId="org.jboss.tools.jst.jsdt.development"
			pattern="tern\.eclipse\.ide\.ui/.*">
		</activityPatternBinding>
	</extension>
	
	<extension
       name="Tern"
       point="org.eclipse.ui.startup">
    	<startup class="org.jboss.tools.jst.jsdt.utils.JstJsdtStartUp"></startup>
	</extension>
	
	<extension 
		point="org.jboss.tools.jst.web.kb.facilityCheckers"
		id="org.jboss.tools.jst.jsdt.angularFacilityCheckers"
		name="org.jboss.tools.jst.jsdt.angularFacilityCheckers">

		<facilityChecker 
			contextType = "FACELETS_PAGE_CONTEXT_TYPE"
			class = "org.jboss.tools.jst.jsdt.configuration.AngularJSProjectCapability" />
	</extension>
	
	<extension
         point="org.eclipse.ui.propertyPages">		      
    
      <page
            name="Angular Module Configuration Dialog"
            category="org.eclipse.angularjs.internal.ui.properties.AngularMainPropertyPage"       
            class="org.jboss.tools.jst.jsdt.configuration.properties.AngularModuleConfigurationPropertyPage"
            id="org.jboss.tools.jst.jsdt.configuration.properties.AngularModuleConfigurationPropertyPage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
                  <test property="tern.eclipse.ide.ui.isTernProject" />
		     </adapt>         
         </enabledWhen>
      </page>      
	</extension>		     
	
</plugin>
