<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension-point id="occurrenceStructureProviders" 
  		name="%occurrenceStructureProvidersExtensionPoint" />
  <extension-point id="visulaEditorImplementations" name="Visual Editor Implementations" schema="schema/visulaEditorImplementations.exsd">
  </extension-point> 

	<extension point="org.eclipse.wst.sse.ui.editorConfiguration"> 
		<sourceViewerConfiguration
			class="org.jboss.tools.jst.jsp.JSPTextViewerConfiguration"
			target="org.eclipse.jst.jsp.core.jspsource"/>
		<contentOutlineConfiguration
			class="org.eclipse.jst.jsp.ui.views.contentoutline.JSPContentOutlineConfiguration"
			target="org.eclipse.jst.jsp.core.jspsource"/>
		<propertySheetConfiguration
			class="org.eclipse.wst.xml.ui.views.properties.XMLPropertySheetConfiguration"
			target="org.eclipse.jst.jsp.core.jspsource"/>
		<provisionalConfiguration 
      		type="sourceeditingtexttools"
			class="org.eclipse.jst.jsp.ui.internal.editor.JSPSourceEditingTextTools"
			target="org.eclipse.jst.jsp.core.jspsource"/>
		<provisionalConfiguration
      		type="characterpairmatcher"
			class="org.eclipse.jst.jsp.ui.internal.text.JSPDocumentRegionEdgeMatcher"
			target="org.eclipse.jst.jsp.core.jspsource"/>
	    <provisionalConfiguration
      		type="structuredtextfoldingprovider"
            class="org.eclipse.wst.xml.ui.internal.projection.StructuredTextFoldingProviderJSP"
            target="org.eclipse.jst.jsp.core.jspsource"/>
		<provisionalDefinition 
      		type="preferencepages"
            value="org.eclipse.wst.sse.ui.preferences.jsp"
			target="org.eclipse.jst.jsp.core.jspsource"/>
		<provisionalDefinition
      		type="preferencepages"
            value="org.eclipse.wst.sse.ui.preferences.jsp.source"
			target="org.eclipse.jst.jsp.core.jspsource"/>
		<provisionalDefinition
      		type="preferencepages"
            value="org.eclipse.wst.sse.ui.preferences.jsp.templates"
			target="org.eclipse.jst.jsp.core.jspsource"/>
		<provisionalDefinition
      		type="preferencepages"
            value="org.eclipse.wst.sse.ui.preferences.jsp.styles"
			target="org.eclipse.jst.jsp.core.jspsource"/>
		<provisionalDefinition
      		type="showintarget"
            value="org.eclipse.jdt.ui.PackageExplorer"
			target="org.jboss.tools.jst.jsp.jspeditor.JSPTextEditor"/>
		<provisionalDefinition
      		type="showintarget"
            value="org.jboss.tools.jst.web.ui.navigator.WebProjectsView"
			target="org.jboss.tools.jst.jsp.jspeditor.JSPTextEditor"/>
      <provisionalDefinition
      		type="preferencepages"
            value="org.eclipse.wst.sse.ui.preferences.jsp.occurrences"
			target="org.eclipse.jst.jsp.core.jspsource"/>
			
	      <sourceViewerConfiguration
				class="org.jboss.tools.jst.jsp.HTMLTextViewerConfiguration"
	            target="org.eclipse.wst.html.core.htmlsource"/>
	      <contentOutlineConfiguration
	            class="org.eclipse.wst.html.ui.views.contentoutline.HTMLContentOutlineConfiguration"
	            target="org.eclipse.wst.html.core.htmlsource"/>
	      <propertySheetConfiguration
	            class="org.eclipse.wst.xml.ui.views.properties.XMLPropertySheetConfiguration"
	            target="org.eclipse.wst.html.core.htmlsource"/>
	      <provisionalConfiguration
	      		type="sourceeditingtexttools"
	            class="org.eclipse.wst.xml.ui.internal.provisional.XMLSourceEditingTextTools"
	            target="org.eclipse.wst.html.core.htmlsource"/>
	      <provisionalConfiguration
	      		type="characterpairmatcher"
	            class="org.eclipse.wst.html.ui.internal.text.HTMLDocumentRegionEdgeMatcher"
	            target="org.eclipse.wst.html.core.htmlsource"/>
	      <provisionalConfiguration
	      		type="structuredtextfoldingprovider"
	            class="org.eclipse.wst.html.ui.internal.projection.StructuredTextFoldingProviderHTML"
	            target="org.eclipse.wst.html.core.htmlsource"/>
	      <provisionalDefinition 
	      		type="preferencepages"
	            value="org.eclipse.wst.html.ui.preferences"
	            target="org.eclipse.wst.html.core.htmlsource"/>
	      <provisionalDefinition 
	      		type="preferencepages"
	            value="org.eclipse.wst.html.ui.preferences.source"
	            target="org.eclipse.wst.html.core.htmlsource"/>
	      <provisionalDefinition 
	      		type="preferencepages"
	            value="org.eclipse.wst.html.ui.preferences.templates"
	            target="org.eclipse.wst.html.core.htmlsource"/>
	      <provisionalDefinition 
	      		type="preferencepages"
	            value="org.eclipse.wst.html.ui.preferences.styles"
	            target="org.eclipse.wst.html.core.htmlsource"/>
      <provisionalDefinition
      		type="preferencepages"
            value="org.eclipse.wst.sse.ui.preferences.jsp.occurrences"
            target="org.eclipse.wst.html.core.htmlsource"/>
      <provisionalConfiguration
            class="org.eclipse.wst.xml.ui.internal.projection.StructuredTextFoldingProviderXML"
            target="org.jboss.tools.jst.jsp.jspeditor.JSPTextEditor"
            type="structuredtextfoldingprovider">
      </provisionalConfiguration>
      <provisionalConfiguration
            class="org.eclipse.wst.xml.ui.internal.projection.StructuredTextFoldingProviderXML"
            target="org.jboss.tools.jst.jsp.jspeditor.HTMLTextEditor"
            type="structuredtextfoldingprovider">
      </provisionalConfiguration>
			
	</extension>

	<extension point="org.eclipse.ui.preferencePages">
		<!-- Additional JSP/HTML PREFERENCE PAGES -->
		<page
			name="%JSP_Occurrences.name"
			category="org.eclipse.jst.jsp.ui.preferences.jsp"
			class="org.jboss.tools.jst.jsp.preferences.JSPOccurrencesPreferencePage"
			id="org.eclipse.wst.sse.ui.preferences.jsp.occurrences">
		</page>
	</extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            icon="images/xstudio/editors/jsp.gif"
            class="org.jboss.tools.jst.jsp.jspeditor.JSPMultiPageEditor"
            default="true"
            name="%editors.jsp.name"
            contributorClass="org.jboss.tools.jst.jsp.jspeditor.JSPMultiPageContributor"
            id="org.jboss.tools.jst.jsp.jspeditor.JSPTextEditor"
            matchingStrategy = "org.jboss.tools.common.core.resources.MatchingStrategyImpl"
            extensions="jsp, jspf, jspx, tag, tagf, inc">
         <contentTypeBinding contentTypeId="org.eclipse.jst.jsp.core.jspsource"/>
      </editor>
      <editor 
            class="org.jboss.tools.jst.jsp.jspeditor.JSPMultiPageEditor" 
            contributorClass="org.jboss.tools.jst.jsp.jspeditor.JSPMultiPageContributor" 
            extensions="html, htm, jsf" 
            icon="images/xstudio/editors/html_file.gif" 
            id="org.jboss.tools.jst.jsp.jspeditor.HTMLTextEditor" 
            matchingStrategy = "org.jboss.tools.common.core.resources.MatchingStrategyImpl"
            name="%editors.html.name" 
            default="true">
         <contentTypeBinding contentTypeId="org.eclipse.wst.html.core.htmlsource"/>
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editorActions">
   <!-- necessary menu items -->
   <!--<editorContribution id="formatJSPActionContribution" targetID="org.jboss.tools.jst.jsp.jspeditor.JSPTextEditor">
           <action actionID="formatJSPAction" class="org.jboss.tools.jst.jsp.ui.action.FormatJSPActionDelegate" id="formatJSPAction" label="Format" menubarPath="edit/additions">
           </action>
      </editorContribution>

      <editorContribution 
         id="ARenameElement" 
         targetID="org.jboss.tools.jst.jsp.jspeditor.JSPTextEditor">
           <action
                 actionID="org.eclipse.jst.jsp.ui.refactor.rename"
                 class="org.eclipse.jst.jsp.ui.internal.java.refactoring.JSPRenameElementActionDelegate"
                 definitionId="org.eclipse.jst.jsp.ui.refactor.rename"
                 id="RenameElement"
                 label="Rename">
           </action>
      </editorContribution>
      <editorContribution 
         id="AMoveElement" 
         targetID="org.jboss.tools.jst.jsp.jspeditor.JSPTextEditor">
           <action
                 actionID="org.eclipse.jst.jsp.ui.refactor.move"
                 class="org.eclipse.jst.jsp.ui.internal.java.refactoring.JSPMoveElementActionDelegate"
                 definitionId="org.eclipse.jst.jsp.ui.refactor.move"
                 id="MoveElement"
                 label="Move">
           </action>
      </editorContribution>-->
      <editorContribution
            id="org.jboss.tools.jst.jsp.cssClassDialogEditorContribution"
            targetID="org.eclipse.wst.css.core.csssource.source">
         <menu
               id="org.jboss.tools.jst.jsp.cssClassDialogSubMenu"
               label="CSS"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="org.jboss.tools.jst.jsp.outline.cssdialog.OpenCSSDialogActionDelegate"
               definitionId="org.jboss.tools.jst.jsp.commands.openCSSDialog"
               hoverIcon="images/cssdialog/color_large.gif"
               icon="images/cssdialog/color_large.gif"
               id="org.jboss.tools.jst.jsp.openCSSDialogEditor"
               label="Open edit dialog"
               menubarPath="org.jboss.tools.jst.jsp.cssClassDialogSubMenu/content"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Open CSS Dialog based on the active CSS file">
               <!--<selection
                     class="org.eclipse.core.resources.IFile">
               </selection>-->
         </action>
      </editorContribution>
      
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution locationURI="menu:sourceMenuId?after=sourceBegin">
			<command commandId="org.eclipse.wst.sse.ui.toggle.comment"
			         id="ToggleComment"
			         mnemonic="%command.toggle.comment.mnemonic"
			         style="push">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.jboss.tools.ui.structuredEditor"/>
				</visibleWhen>
			</command>
			<command commandId="org.eclipse.wst.sse.ui.add.block.comment"
			         id="AddBlockComment"
			         mnemonic="%command.add.block.comment.mnemonic"
			         style="push">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.jboss.tools.ui.structuredEditor"/>
				</visibleWhen>
			</command>
			<command commandId="org.eclipse.wst.sse.ui.remove.block.comment"
			         id="RemoveBlockComment"
			         mnemonic="%command.remove.block.comment.mnemonic"
			         style="push">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.jboss.tools.ui.structuredEditor"/>
				</visibleWhen>
			</command>
			</menuContribution>
   </extension>
   
       <extension
       point="org.eclipse.ui.handlers">
       <handler
             class="org.eclipse.wst.xml.ui.internal.handlers.ToggleCommentHandler"
             commandId="org.eclipse.wst.sse.ui.toggle.comment">
          <activeWhen>
              <reference definitionId="org.jboss.tools.ui.structuredEditor"/>
          </activeWhen>
          <enabledWhen>
              <reference definitionId="org.jboss.tools.ui.structuredEditor"/>
          </enabledWhen>
       </handler>
       <handler
             class="org.eclipse.wst.xml.ui.internal.handlers.AddBlockCommentHandler"
             commandId="org.eclipse.wst.sse.ui.add.block.comment">
          <activeWhen>
              <reference definitionId="org.jboss.tools.ui.structuredEditor"/>
          </activeWhen>
          <enabledWhen>
              <reference definitionId="org.jboss.tools.ui.structuredEditor"/>
          </enabledWhen>
       </handler>
       <handler
             class="org.eclipse.wst.xml.ui.internal.handlers.RemoveBlockCommentHandler"
             commandId="org.eclipse.wst.sse.ui.remove.block.comment">
          <activeWhen>
              <reference definitionId="org.jboss.tools.ui.structuredEditor"/>
          </activeWhen>
          <enabledWhen>
              <reference definitionId="org.jboss.tools.ui.structuredEditor"/>
          </enabledWhen>
       </handler>
       <handler
             class="org.eclipse.jst.jsp.ui.internal.handlers.JSPFindOccurrencesHandler"
             commandId="org.eclipse.wst.sse.ui.search.find.occurrences">
             <activeWhen>
              <reference definitionId="org.jboss.tools.ui.structuredEditor"/>
          </activeWhen>
          <enabledWhen>
              <reference definitionId="org.jboss.tools.ui.structuredEditor"/>
          </enabledWhen>
       </handler>
       <handler
             class="org.eclipse.wst.html.ui.internal.edit.ui.CleanupDocumentHandler"
             commandId="org.eclipse.wst.sse.ui.cleanup.document">
             <activeWhen>
                    <reference definitionId="org.jboss.tools.ui.structuredEditor"/>
             </activeWhen>
             <enabledWhen>
                    <reference definitionId="org.jboss.tools.ui.structuredEditor"/>
             </enabledWhen>
       </handler>
              <handler
             class="org.eclipse.wst.xml.ui.internal.handlers.StructuredSelectEnclosingXMLHandler"
             commandId="org.eclipse.wst.sse.ui.structure.select.enclosing">
          <activeWhen>
              <reference definitionId="org.jboss.tools.ui.structuredEditor"/>
          </activeWhen>
          <enabledWhen>
              <reference definitionId="org.jboss.tools.ui.structuredEditor"/>
          </enabledWhen>
       </handler>
       <handler
             class="org.eclipse.wst.xml.ui.internal.handlers.StructuredSelectNextXMLHandler"
             commandId="org.eclipse.wst.sse.ui.structure.select.next">
          <activeWhen>
              <reference definitionId="org.jboss.tools.ui.structuredEditor"/>
          </activeWhen>
          <enabledWhen>
              <reference definitionId="org.jboss.tools.ui.structuredEditor"/>
          </enabledWhen>
       </handler>
       <handler
             class="org.eclipse.wst.xml.ui.internal.handlers.StructuredSelectPreviousXMLHandler"
             commandId="org.eclipse.wst.sse.ui.structure.select.previous">
          <activeWhen>
              <reference definitionId="org.jboss.tools.ui.structuredEditor"/>
          </activeWhen>
          <enabledWhen>
              <reference definitionId="org.jboss.tools.ui.structuredEditor"/>
          </enabledWhen>
       </handler>
       <handler
             class="org.eclipse.wst.sse.ui.internal.handlers.StructuredSelectHistoryHandler"
             commandId="org.eclipse.wst.sse.ui.structure.select.last">
          <activeWhen>
              <reference definitionId="org.jboss.tools.ui.structuredEditor"/>
          </activeWhen>
          <enabledWhen>
              <reference definitionId="org.jboss.tools.ui.structuredEditor"/>
          </enabledWhen>
       </handler>
       </extension>

	<extension point="org.eclipse.core.expressions.definitions">
			<definition id="org.jboss.tools.ui.structuredEditor">
				<and>
					<with variable="activeContexts">
						<iterate operator="or">
							<equals value="org.eclipse.wst.sse.ui.structuredTextEditorScope"/>
						</iterate>
					</with>
					<or>
					<with variable="activeEditorId">
							<equals value="org.jboss.tools.jst.jsp.jspeditor.JSPTextEditor"/>
					</with>
					<with variable="activeEditorId">
							<equals value="org.jboss.tools.jst.jsp.jspeditor.HTMLTextEditor"/>
					</with>
					</or>
				</and>			
			</definition>
		</extension>
   <!--extension point="org.jboss.tools.common.verification.rules">
      <rule-set path="meta/.rule-sets.xml"/>
   </extension-->
   
    <extension point="org.jboss.tools.jst.jsp.occurrenceStructureProviders">
	  	<provider 
	  		class="org.jboss.tools.jst.jsp.text.JSPOccurrenceProvider" 
	  		editorId="org.jboss.tools.jst.jsp" 
	  		name="%defaultOccurrenceStructureProviderName" /> 
	</extension>
    <extension
          point="org.eclipse.core.runtime.contentTypes">
       <file-association
             content-type="org.eclipse.jst.jsp.core.jspsource"
             file-extensions="inc"/>
       <file-association
             content-type="org.eclipse.wst.html.core.htmlsource"
             file-extensions="jsf"/>
    </extension>
   
   <extension
         point="org.jboss.tools.common.model.resourceMapping">
      <mapping
          loader="org.jboss.tools.jst.jsp"
          priority="4"
          kind="class"
          paths=".texteditors.jsp.,org.jboss.tools.jst.jsp."
      />
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <include
            file="templates/facelets-templates.xml"
            translations="$nl$/templates/facelets-templates.properties"/>
   </extension>

   <extension point="org.jboss.tools.common.model.classes">
		<xclass id="org.jboss.tools.jst.jsp.jspeditor.JSPTextEditor"
			class="org.jboss.tools.jst.jsp.jspeditor.JSPTextEditor"/>
		<xclass id="org.jboss.tools.jst.jsp.outline.JSPCellEditorProviderImpl"
			class="org.jboss.tools.jst.jsp.outline.JSPCellEditorProviderImpl"/>
		<xclass id="org.jboss.tools.jst.jsp.outline.VpeProperties"
			class="org.jboss.tools.jst.jsp.outline.VpeProperties"/>
		<xclass id="org.jboss.tools.jst.jsp.outline.DefaultDropCommandRunner"
			class="org.jboss.tools.jst.jsp.outline.DefaultDropCommandRunner"/>
   </extension>
    
   <extension 
		point="org.jboss.tools.common.text.xml.contentAssistProcessor"
		id="org.jboss.tools.jst.jsp.contentAssistProcessor"
		name="org.jboss.tools.jst.jsp.contentAssistProcessor">

		<!-- contentAssistProcessor 
				class="org.jboss.tools.jst.jsp.contentassist.ExtendedJSPContentAssistProcessor" 
				id="org.jboss.tools.jst.jsp.contentassist.ExtendedJSPContentAssistProcessor">
			<contenttype id="org.eclipse.jst.jsp.core.jspsource">
				<partitiontype id="org.eclipse.wst.xml.XML_DEFAULT" />
				<partitiontype id="org.eclipse.wst.html.HTML_DEFAULT" />
				<partitiontype id="org.eclipse.jst.jsp.DEFAULT_JSP" />
				<partitiontype id="org.eclipse.jst.jsp.JSP_DIRECTIVE" />
				<partitiontype id="org.eclipse.jst.jsp.SCRIPT.DELIMITER" />
				<partitiontype id="org.eclipse.jst.jsp.SCRIPT.JSP_EL" />
				<partitiontype id="org.eclipse.jst.jsp.SCRIPT.JSP_EL2" />
			</contenttype>
		</contentAssistProcessor>
		
		<contentAssistProcessor 
				class="org.jboss.tools.jst.jsp.contentassist.FaceletsHtmlContentAssistProcessor" 
				id="org.jboss.tools.jst.jsp.contentassist.FaceletsHtmlContentAssistProcessor">

			<contenttype id="org.eclipse.wst.html.core.htmlsource">
				<partitiontype id="org.eclipse.wst.html.HTML_DEFAULT" />
				<partitiontype id="org.eclipse.jst.jsp.SCRIPT.JSP_EL" />
				<partitiontype id="org.eclipse.jst.jsp.SCRIPT.JSP_EL2" /> 
			</contenttype>
		</contentAssistProcessor>
-->
		<!-- 
			//added by estherbin
			//fix http://jira.jboss.com/jira/browse/JBIDE-1791
		-->
		<contentAssistProcessor 
				class="org.eclipse.wst.css.ui.internal.contentassist.CSSContentAssistProcessor" 
				id="org.eclipse.wst.css.ui.internal.contentassist.CSSContentAssistProcessor">
			<contenttype id="org.eclipse.wst.html.core.htmlsource">
				<partitiontype id="org.eclipse.wst.css.STYLE" />
			</contenttype>
		</contentAssistProcessor>
		
		<contentAssistProcessor 
				class="org.jboss.tools.jst.jsp.contentassist.JspContentAssistProcessor" 
				id="org.jboss.tools.jst.jsp.contentassist.JspContentAssistProcessor">
			<contenttype id="org.eclipse.jst.jsp.core.jspsource">
				<partitiontype id="org.eclipse.wst.xml.XML_DEFAULT" />
				<partitiontype id="org.eclipse.wst.html.HTML_DEFAULT" />
				<partitiontype id="org.eclipse.jst.jsp.DEFAULT_JSP" />
				<partitiontype id="org.eclipse.jst.jsp.JSP_DIRECTIVE" />
				<partitiontype id="org.eclipse.jst.jsp.SCRIPT.DELIMITER" />
				<partitiontype id="org.eclipse.jst.jsp.SCRIPT.JSP_EL" />
				<partitiontype id="org.eclipse.jst.jsp.SCRIPT.JSP_EL2" />
				<partitiontype id="org.eclipse.wst.css.STYLE" />
			</contenttype>
		</contentAssistProcessor>
			
		<contentAssistProcessor 
				class="org.jboss.tools.jst.jsp.contentassist.XmlContentAssistProcessor" 
				id="org.jboss.tools.jst.jsp.contentassist.XmlContentAssistProcessor">
			<contenttype id="org.eclipse.wst.xml.core.xmlsource">
				<partitiontype id="org.eclipse.wst.xml.XML_DEFAULT" />
				<partitiontype id="org.eclipse.wst.xml.XML_CDATA" />
				<partitiontype id="org.eclipse.wst.xml.XML_PI" />
				<partitiontype id="org.eclipse.wst.xml.XML_DECL" />
				<partitiontype id="org.eclipse.wst.xml.XML_COMMENT" />
				<partitiontype id="org.eclipse.wst.xml.dtd.internal_subset" />
				<partitiontype id="org.eclipse.wst.sse.ST_DEFAULT" />
				<partitiontype id="org.eclipse.wst.sse.UNKNOWN_PARTITION_TYPE" />
			</contenttype>
		</contentAssistProcessor>

		<contentAssistProcessor 
				class="org.jboss.tools.jst.jsp.contentassist.FaceletPageContectAssistProcessor" 
				id="org.jboss.tools.jst.jsp.contentassist.FaceletPageContectAssistProcessor">
			<contenttype id="org.eclipse.wst.html.core.htmlsource">
				<partitiontype id="org.eclipse.wst.html.HTML_DEFAULT" />
				<partitiontype id="org.eclipse.jst.jsp.SCRIPT.JSP_EL" />
				<partitiontype id="org.eclipse.jst.jsp.SCRIPT.JSP_EL2" />
				<partitiontype id="org.eclipse.wst.css.STYLE" />
			</contenttype>
		</contentAssistProcessor>

  </extension>
  <extension
        point="org.eclipse.ui.popupMenus">
     <objectContribution
           adaptable="true"
           id="org.jboss.tools.jst.jsp.cssDialogPopupMenu"
           nameFilter="*.css"
           objectClass="org.eclipse.core.resources.IResource">
        <action
              class="org.jboss.tools.jst.jsp.outline.cssdialog.OpenCSSDialogActionDelegate"
              definitionId="org.jboss.tools.jst.jsp.commands.openCSSDialog"
              icon="images/cssdialog/color_large.gif"
              id="org.jboss.tools.jst.jsp.openCSSDialogPopupMenu"
              label="Open CSS Dialog"
              menubarPath="additions"
              tooltip="Open CSS Dialog based on the active CSS file">
        </action>
        <menu
               id="org.jboss.tools.jst.jsp.popupSubMenu"
               label="Open CSS Dialog"
               path="additions">
            <groupMarker name="content"/>
            <separator name="additions"/>
         </menu>
     </objectContribution>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <category
           description="CSSDialog"
           id="org.jboss.tools.jst.jsp.commands"
           name="CSS Dialog">
     </category>
     <command
           categoryId="org.jboss.tools.jst.jsp.commands"
           description="Open active or selected CSS Dialog"
           id="org.jboss.tools.jst.jsp.commands.openCSSDialog"
           name="Open CSS Dialog">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.bindings">
     <key
           commandId="org.jboss.tools.jst.jsp.commands.openCSSDialog"
           contextId="org.eclipse.wst.css.core.csssource"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="Ctrl+Shift+C">
     </key>
  </extension>
  
     <extension id="kbproblemmarker" name="%KBProblemName" point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent value="true">
      </persistent>
   </extension>
</plugin>
